<%- include('header', { title: title }) %>

<script>
  async function ajax() {
    const data = {
      id: document.querySelector('#id').value,
      pass: document.querySelector('#pass').value,
    };
    const response = await fetch('/hello/ajax', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
    });
    const result = await response.json();
    document.querySelector('#msg').textContent = result.message
  }
</script>

<p class="my-2" id="msg"><%= message %></p>
<form method="post" action="/hello">
  <div class="mb-3">
    <label for="id" class="form-label">ID</label>
    <input type="text" class="form-control" id="id" name="id" value="<%= id %>">
  </div>
  <div class="mb-3">
    <label for="pass" class="form-label">Password</label>
    <input type="password" class="form-control" id="pass" name="pass" value="<%= pass %>">
  </div>
  <button type="submit" class="btn btn-primary" onclick="ajax()">送信</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mail</th>
    </tr>
  </thead>
  <tbody>
    <% for (const item of db) { %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.mail %></td>
      </tr>
    <% } %>
  </tbody>
</table>

<%- include('footer') %>
